.container{
    padding-left:5px !important;
    padding-right:5px !important;
}
.btn-info{
    color: #fff;
    background: #138496;
    border-color: #117a8b
}
.btn-secondary{
    background:#6c757d;
}

.niceDarkHr{
    width:100%;
    margin-left:10px;
    margin-right:10px;
    border-bottom: 1px solid #eaeaea !important;
}
#myTable_paginate li a{
        color:white;
} 
input[type=radio] {
    border: 0px;
    width: 50px;
    height: 1.4em;
}
#resultArea{
    margin-top:20px;
}
.info{
    background-color:#138496;
}
.dataTable{
    width:100% !important;
}
    
.center{
    text-align:center;
}
#descriptionModal .modal-dialog
{
    max-width:800px !important;
    text-align:left !important;
}
legend{
    width:100px !important;
    padding:10px !important;
}

.dropdown{
    background:#ffffff !important;
    top:0px !important;
}
.hidden-dropdown{
    display:none !important;
}

.row
{
    width:100% !important;
}
.dataTables_filter{
    width:100% !important;
}
#DataTables_Table_0_filter .input-sm
{
    height:30px !important;
}
#DataTables_Table_0_length
{
    width:40% !important;
    float:left;
}
#DataTables_Table_0_length label{
    width:50% !important;
}
#DataTables_Table_0_filter{
    width:50% !important;
    float:right !important;
}
.buttons-html5, .buttons-print
{
    cursor:pointer !important;
}
@(max-width: 600px){
    #descriptionModal .modal-dialog
    {
        max-width:90% !important;
        text-align:left !important;
    }
}



#loader {
    border: 12px solid #f3f3f3;
    border-radius: 50%;
    border-top: 12px solid #444444;
    width: 70px;
    height: 70px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.center {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#loadingBg{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:rgba(255,255,255,0.5);
}
.invisible{
    visibility: hidden !important;
}

.bootcards-summary-item {
    background: #f5f5f5;
    display: block;
    border-radius: 4px;
    padding: 25px 10px;
    text-align: center;
    position: relative;
    height: 130px;
    color:#ffffff;
    background-color:#ffffff !important;
    box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
}
.bootcards-summary-item:hover{
  box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 12px -2px rgba(0,0,0,0.75);
}

.bootcards-summary-item h4 {

    color:#ffffff; 
    
}
.bootcards-summary-item i{
    font-size:60px !important;
    float:left;
    color:#ffffff;
}
.bootcards-summary-item .badge, .bootcards-summary-item .label {
    position: absolute;
    top: 10px;
    right: 10px;
}
.label-warning {
    background-color: #f0ad4e;
}

element.style {
}
.bootcards-summary-item .badge, .bootcards-summary-item .label {
    position: absolute;
    top: 10px;
    right: 10px;
}
.label-warning {
    background-color: #f0ad4e;
}
.label-warning1{
    background-color:#ffd86b;
}
.label-warning2{
    background-color:#e68d2e;
}
.label-info{
    background-color: #5bc0de;
}
.icon-info {
    color: #5bc0de !important;
}
.label-success {
    background-color: #229922;
}

.icon-success {
    color: #229922 !important;
}
.label-green1{
    background-color:#9ea832;
}
.label-green2{
    background-color:#7da832;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.centertext{
    text-align: center;
}
.large{
    font-size:45px !important;
    float:left !important;
}

.icon-question-sign::before{
    color:#117a8b;
    font-size:20px;
}

@media(min-width:1100px)
{
    .modal-dialog{
        min-width: 95%;
    }
}

@media(max-width:700px)
{
    .modal-dialog{
        min-width: 600px;
    }
}

@media(max-width:500px)
{
    .modal-dialog{
        min-width: 400px;
    }
}

/* The whole thing */
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}



